
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <header class="page-header">
        <h2> Dashboard</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Dashboard","Main")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
            </ol>
        </div>
    </header>
<div class="row">
    <img src="~/Images/inprogress.gif" style="height:50%;width:50%; display: block;margin-left: auto;margin-right: auto;"/>
    <h4 style="text-align:center">Page Design Under Progress</h4>
</div>



